#  IDE (intellij, eclipse, Intellij, visual studio)
.idea
/.idea_modules
.bsp
.vscode/
eclipse
.project

# files created during execution or compilation
logs
project/project
project/target
target
.target
dist
/*.iml
/out
/.classpath
/.project
/.settings
.cache
.class
bin
.*.lock
precompiled
classes
.classpath
test-result

# metals
.metals/
.bloop/
project/metals.sbt


.ammonite/

# file system
.DS_Store
/RUNNING_PID